<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      RegistrAPP
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-text color="success">
  <div  class="ion-text-center">
    <h3>Bienvenido, {{ username }}!</h3>
  </div>
  </ion-text>
  <ion-button>
    <ion-icon name="qr-code-outline" size="large"></ion-icon>
  </ion-button>
  <ion-button expand="full" (click)="salir()">Salir</ion-button>
</ion-content>
